future
emoji
heroku3
lxml
wget
gtts
beautifulsoup4
requests==2.20.0
python-telegram-bot==12.8
sqlalchemy==1.3.20
psycopg2-binary
feedparser
hachoir
pynewtonmath
aiofiles
spongemock
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
regex
bleach
git+https://github.com/starry69/python-markdown2.git
telethon
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram
fontTools
asyncio
dateparser==1.0.0
pymongo
dnspython
secureme
apscheduler 
loguru
odmantic
bs4
pytz
envparse
spamwatch
PyYAML


motor
cloudscraper 
